/* колір основного тексту #212121; */
/* колір тексту параграфа #757575; */
/* білий колір тексту #FFFFFF; */
/* акцент #2196F3; */
/* фон хедера background: #FFFFFF; */
/* колір фона "блок герой" background: #2F303A; */
/* фон футера #2F303A; */

:root {
  --primary-text-color: #212121;
  --paragraph-color: #757575;
  --title-text-color: #212121;
  --hero-footer-background: #2f303a;
  --accent-color: #2196f3;
  /* --header-background: #ffffff; */
  --primary-white-color: #ffffff;
  --primary-background: #f5f5f5;
  --secondary-background: #f5f4fa;
}

/* візуальні контури для усіх елементів */
/* * {
  outline: 2px solid #b0c4de;
} */

/* скидання відступів для елементів */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

ul {
  padding-left: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* прибираємо маркери списку */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* параметри  контейнеру */
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

body {
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/* нижня рамка в header */
.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: 'Raleway', sans-serif;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  margin-top: 25px;
  margin-bottom: 25px;
}

/* колір першої частини логотипу */
.accent {
  color: var(--accent-color);
}

.nav {
  display: flex;
  align-items: center;
}

/* прибираю крайню геометрію */
.nav-list .nav-list-item + .nav-list-item {
  margin-left: 50px;
}

/* текст посилань в хедері */
.nav-list {
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;

  display: flex;
  margin-left: 93px;
}

/* збільшую розмір клікабельного сектору для посилань в навігації*/
.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

/* маркер поточної сторінки */
.nav-link.current {
  position: relative;

  color: var(--accent-color);
}

/* підкреслення для поточної сторінки */
.nav-link.current::after {
  position: absolute;
  content: '';
  display: block;

  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  border-radius: 2px;

  background: var(--accent-color);
}

/* пошта та номер телефону в хедері */
.header-address-list {
  display: flex;
  margin-left: auto;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

/* колір тексту пошта та телефон в хедері*/
.header-address-item {
  display: flex;

  color: var(--paragraph-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

/* міняю колір тексту пошта і номер телефону в хедері та збільшую розмір клікабельного сектору */
.header-address-link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--paragraph-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--accent-color);
}

/* прибираю крайню геометрію для пошти в хедері*/
.header-address-list .header-address-item + .header-address-item {
  margin-left: 50px;
}

/* колір іконок конверт та моб. телефон у хедері */
.header-address-icon {
  fill: #757575;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ховер і фокус для іконок конверт та моб. телефон у хедері */
/* когда ховерим по ссылке, иконка меняет цвет */
.header-address-link:hover .header-address-icon,
.header-address-link:focus .header-address-icon {
  fill: var(--accent-color);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  min-height: 600px;

  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-image.jpg');
}

/* текст в герої */
.hero-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;

  color: var(--primary-white-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

/* кнопка "замовити послугу" */
.action-button {
  display: block;
  padding: 10px 32px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  min-width: 216px;
  cursor: pointer;

  background: var(--accent-color);
  color: var(--primary-white-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.06em;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.action-button:hover,
.action-button:focus {
  background: #188ce8;
}

/* flex для секції "особливості" */
.features-list {
  display: flex;
  gap: 10px;
}

.features-item {
  width: 370px;
}

/* заголовки в секції "особливості" */
.features-title {
  margin-bottom: 10px;
  margin-top: 30px;

  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
}

.icon-features-background {
  display: flex;
  justify-content: center;
  width: 270px;
  height: 120px;

  align-items: center;
  background: #f5f4fa;
  border-radius: 4px;
}

/* текст в параграфі "особливості" */
.features-post {
  color: var(--paragraph-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-align: left;
}

.what-we-do {
  padding-top: 0;
}

/* flex для "what we do" */
.what-we-do-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

/* заголовки "what we do" */
.what-we-do-title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

.thumb {
  position: relative;
}

.thumb > .label {
  position: absolute;
  bottom: 0;
  display: block;
  padding: 27px;
  width: 100%;
  height: 70px;

  color: var(--primary-white-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--secondary-background);
}

/* flex для "our team" */
.team-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.team-worker {
  width: 270px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
}

.worker-social-list {
  display: flex;
  gap: 10px;
}

/* заголовки "our team" */
.team-title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

/* ім'я та прізвища співробітників */
.worker-name {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

/* текст опису посади співробітника */
.worker-post {
  margin-bottom: 30px;

  color: var(--paragraph-color);
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

/* div для опису працівника */
.worker-description {
  padding: 30px;
}

.worker-social-item {
  display: flex;
  justify-content: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;
}

.worker-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  color: #afb1b8;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.worker-social-icon {
  width: 20px;
  height: 20px;

  fill: currentColor;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.worker-social-link:hover,
.worker-social-link:focus {
  background-color: var(--accent-color);
}

/* когда ховерим по ссылке иконок соц. сетей, иконка меняет цвет */
.worker-social-link:hover .worker-social-icon,
.worker-social-link:focus .worker-social-icon {
  fill: var(--primary-white-color);
}

.our-clients-title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

.our-clients-list {
  display: flex;
  gap: 30px;
}

.our-clients-item {
  width: 170px;
  height: 92px;

  display: flex;
}

.our-clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  color: #afb1b8;
  background-color: var(--primary-white-color);

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients-link:hover .our-clients-icon,
.our-clients-link:focus .our-clients-icon {
  fill: var(--accent-color);
}

.our-clients-link:hover,
.our-clients-link:focus {
  border: 1px solid #2196f3;
}

.our-clients-icon {
  width: 106px;
  height: 60px;

  fill: currentColor;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* приховуємо заголовок "our projects" */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* робимо flex для кнопок фільтра */
.filter-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 50px;
}

/* кнопки фильтра */
.filter-button {
  padding: 5px 25px;
  border-radius: 4px;
  border: none;

  color: var(--primary-text-color);
  background-color: var(--secondary-background);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  border-radius: 4px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* flex для секцій "наші проекти" */
.our-projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

/* даю посиланню властивість block, бо без неї не буде працювати hover */
.our-projects-link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ефект тіні при наведенні мишею (ховер) на картки "наші проекти" */
.our-projects-link:hover,
.our-projects-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.our-projects-item {
  width: 370px;
}

.our-projects-overlay {
  position: relative;
  overflow: hidden;
}

.our-projects-details {
  position: absolute;

  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  /* альтернативний варіант на FLEX-сах */
  /* display: flex;
	align-items: center;
	padding-left: 24px;
	padding-right: 24px; */

  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--primary-white-color);
  background: rgba(33, 150, 243, 0.9);

  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* при ховері з'являється оверлей */
.our-projects-link:hover .our-projects-details,
.our-projects-link:focus .our-projects-details {
  transform: translateY(0);
}

/* div для опису проекта */
.project-description {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;

  background-color: var(--primary-white-color);
}

/* заголовки в секції "наші проекти" */
.our-projects {
  margin-bottom: 5px;

  color: var(--title-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* текст в параграфах "наші проекти"*/
.our-projects-post {
  color: var(--paragraph-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  text-align: left;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--hero-footer-background);
}

/* "studio" білим кольором в футері */
.logo-white {
  display: block;
  margin-bottom: 20px;

  font-family: 'Raleway', sans-serif;
  color: var(--primary-text-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* колір адреси (посилання на мапу) в футері*/
.footer-map-link {
  color: var(--primary-white-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* колір тексту пошта та телефон в футері*/
.footer-address-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address-item {
  margin-bottom: 10px;
}

/* прибираю крайню геометрію для номеру телефона в футері*/
.footer-address-item:last-child {
  margin-bottom: 0;
}

.footer-map-link:hover,
.footer-map-link:focus {
  color: var(--accent-color);
}

.footer-address-link:hover,
.footer-address-link:focus {
  color: var(--accent-color);
}

/* секція в футері з логотипом та адресою  */
.footer-address {
  margin-right: 70px;
}

/* слоган "ПРИЄДНУЙТЕСЬ" в футері*/
.footer-action-word {
  margin-bottom: 20px;

  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* секція в футері з іконками на соц. мережі */
.container.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer-social-list {
  display: flex;
  gap: 10px;
}

.footer-social-item {
  display: flex;

  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  color: var(--primary-white-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* форма в футері */
.footer-form {
  margin-left: 93px;
}

.form-field {
  display: flex;
}

.form-field label {
  margin-bottom: 20px;

  color: var(--primary-white-color);
  text-transform: uppercase;
}

.form-subscribe {
  margin-bottom: 20px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);

  text-transform: uppercase;
}

.form-field input {
  margin-right: 12px;
  border: none;
  width: 358px;
  height: 50px;
  padding: 15px;

  background: var(--hero-footer-background);
  color: var(--primary-white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field input:focus {
  border-color: var(--accent-color);
}

/* кнопка "підписатися" в футері */
.submit-btn {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  border: none;
  border-radius: 4px;

  color: var(--primary-white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover,
.submit-btn:focus {
  background: #188ce8;
}

.paper-plane-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;

  fill: currentColor;
}

/* .submit-btn::after {
  content: '';
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-color: var(--accent-color);
  background-image: url('../paper-plane.svg');
  background-size: contain;
} */

/* МОДАЛЬНЕ ВІКНО */

/* задній фон при відкритті модального вікна */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  background: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* модальне вікно */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;

  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

/* кнопка закриття модального вікна */
.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--primary-white-color);

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

/* іконка закриття модального вікна */
.modal-close-icon {
  width: 11px;
  height: 11px;

  fill: currentColor;
  background: var(--primary-white-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* при ховері на кнопку закриття модалки - хрестик в середині змінює колір */
.modal-close-button:hover .modal-close-icon {
  fill: var(--accent-color);
}

/* при фокусі на кнопку закриття модалки - хрестик в середині змінює колір */
.modal-close-button:focus .modal-close-icon {
  fill: var(--accent-color);
}

.modal-title {
  margin-bottom: 12px;

  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
}

.form-element {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-element label {
  margin-bottom: 5px;

  color: var(--paragraph-color);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-element input {
  padding-left: 42px;
  width: 100%;
  height: 40px;

  /* прибираю бордер від браузера */
  border: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap {
  position: relative;
}

.form-element svg {
  position: absolute;
  top: 50%;
  left: 12px;
  /* translate: 0 -50%; */
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* при фокусі на поле input іконка змінює колір */
.form-element:focus-within svg {
  fill: var(--accent-color);
}

/* при фокусі на поле, рамка змінює колір */
.form-element:focus-within input {
  border-color: var(--accent-color);
}

.human-icon {
  width: 12px;
  height: 12px;
}

.phone-handset-icon {
  width: 13px;
  height: 13px;
}

.envelope-black-icon {
  width: 15px;
  height: 12px;
}

.checked-icon {
  width: 13px;
  height: 13px;
}

.form-element textarea {
  padding: 12px 16px;
  resize: none;
  width: 448px;
  height: 120px;

  /* прибираю бордер від браузера */
  border: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  outline: none;
  cursor: pointer;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-element textarea:focus {
  border-color: var(--accent-color);
}

/* Погодження з розсилкою */
.accept {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.checkbox {
  display: flex;
  align-items: center;
  width: 16px;
  height: 15px;
  margin-right: 8px;

  border: 2px solid #212121;
  border-radius: 2px;
  fill: var(--primary-white-color);

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* текст "погоджуюся з розсилкою..." */
.accept label {
  display: flex;
  align-items: center;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--paragraph-color);
  letter-spacing: 0.03em;
}

/* ховаємо чекбокс від браузера */
.accept input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* галочка змінює колір при натисканні на квадратик або на напис "Погоджуюся з розсилкою
та приймаю Умови договору"
----------------------------------------------------------------------------------------
Читається так: До .checkbox застосовується синій фон та синій бордер, якщо input, що є
вкладеним в .accept та водночас стоїть перед label, є в стані checked*/

.accept input:checked + label .checkbox {
  background: var(--accent-color);
  border-color: var(--accent-color);
}

.accept-link {
  text-decoration: underline;
  color: var(--accent-color);
}

/* Кнопка відправити */
.modal-submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: var(--primary-white-color);
  background: var(--accent-color);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background: #188ce8;
}
